<div class="wrapper">
  <div class="container">

    <h1>Monitoreo de sistema</h1>
    <h4>Identificate en la plataforma para comenzar!!</h4>

    <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
      <input
        type="text"
        placeholder="Usuario"
        name="usuario"
        #usuario="ngModel"
        [(ngModel)]="user"
        required
      />
      <input
        type="password"
        placeholder="Contraseña"
        name="password"
        #password="ngModel"
        [(ngModel)]="pass"
        required
      />
      <button type="submit" id="login-button" [disabled]="loginForm.invalid">
        Enviar
      </button>
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="mensaje">
      {{ mensaje }}
    </div>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
